
body{
font-family: Arial, sans-serif;
background:#f4f6f7;
margin:0;
padding:0;
}

input,select,button{
padding:10px;
margin-top:5px;
margin-bottom:10px;
}

button{
background:#2ecc71;
border:none;
color:white;
cursor:pointer;
}

button:hover{
background:#27ae60;
}
